#
# Copyright 2021, Breakaway Consulting Pty. Ltd.
#
# SPDX-License-Identifier: BSD-2-Clause
#

__pycache__
*-sdk-*/
build/
env/
pyenv/
release/
example/**/*.log
tmp_build/
target/
*.orig
.DS_Store
.vscode/
