#
# Copyright 2021, Breakaway Consulting Pty. Ltd.
#
# SPDX-License-Identifier: BSD-2-Clause
#
pyoxidizer==0.23.0
mypy==0.910
black==21.7b0
flake8==3.9.2
ply==3.11
Jinja2==3.0.3
PyYAML==6.0
pyfdt==0.3
pexpect==4.6.0
