#
# Copyright 2024, UNSW
#
# SPDX-License-Identifier: BSD-2-Clause
#

[package]
name = "microkit-tool"
version = "2.0.1-dev"
edition = "2021"
rust-version = "1.88.0"

[[bin]]
name = "microkit"
path = "src/main.rs"

[dependencies]
roxmltree = "0.19.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.117"
postcard = { version = "1.0.2", default-features = false, features = ["alloc"] }
sel4-capdl-initializer-types = { git = "https://github.com/au-ts/rust-seL4", rev = "118c9cd67d3a7c95431a0aeb08d8ce8692ab9d80", features = ["alloc", "serde", "deflate", "std"] }

[profile.release]
strip = true
